@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  overflow: hidden;
  background: #6aac85;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-soothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box-bar {
  width: 80px;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.bar {
  width: 80px;
  height: 8px;
  background-color: #fff;
  display: flex;
  border-radius: 4px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
  animation: animate-bar1 1s ease-in-out 0s none normal none;
  position: absolute;
}

.bar:nth-child(1) {
  animation: menu-close 1s forwards;
}

.bar:nth-child(2) {
  animation: menu-close2 1s forwards;
}

.bar:nth-child(3) {
  animation: menu-close3 1s forwards;
}

.open .bar:nth-child(1) {
  animation: menu-open 1s forwards;
}
.open .bar:nth-child(2) {
  animation: menu-open2 1s forwards;
}
.open .bar:nth-child(3) {
  animation: menu-open3 1s forwards;
}

@keyframes menu-open {
  0% {
    transform: translateY(25px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: rotate(45deg);
  }
}

@keyframes menu-open2 {
  0% {
    transform: scale(100%);
  }
  100% {
    transform: scale(0%);
  }
}

@keyframes menu-open3 {
  0% {
    transform: translateY(25px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: rotate(135deg);
  }
}

@keyframes menu-close {
  0% {
    transform: rotate(45deg);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-25px);
  }
}

@keyframes menu-close2 {
  0% {
    transform: scale(0%);
  }
  100% {
    transform: scale(100%);
  }
}

@keyframes menu-close3 {
  0% {
    transform: rotate(135deg);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(25px);
  }
}
